{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    
    <!-- <div>
      <label>Name</label>
      <input name='name'></input>
    </div>
    
    <div>
      <label>Email</label>
      <input name='email'></input>
    </div> -->
    
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">Page Title</label>
      <div class="col-sm-10">
        <input name="title" type="text" class="form-control"/> <!-- for the title -->
      </div>
    </div>

    <div>
      <textarea name='content'></textarea> <!-- this tag is more appropriate for longer amounts of writing -->
   
    <div>
      <select name='status'>
        <option>open</option>
        <option>closed</option> 
      </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  
  </form>
{% endblock %}